@model Parcial.ViewModels.OperacionCreateVM

@{
    ViewData["Title"] = "Venta";
    var libro = (Libro?)ViewData["Libro"];
    var errorMsg = (string?)ViewData["ErrorMsg"];
}

<h1>Venta</h1>

<h4>Libro: @libro?.Nombre </h4>
<hr />
<div class="row">
    @if(!string.IsNullOrEmpty(errorMsg)){
        <div class="alert alert-danger" role="alert">
            @errorMsg
        </div>
    }
    <div class="col-md-4">
        <form asp-action="Venta">
            <div class="form-group">
                <label asp-for="Factura" class="control-label"></label>
                <input asp-for="Factura" class="form-control" />
                <span asp-validation-for="Factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="LibroId" value="@libro?.Id" />
            <div class="form-group">
                <input type="submit" value="Venta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
